<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href='{% static "css/mystyle.css"%}'>
  <title>User List</title>
</head>
<body>
  <div class="userlist">
    {% if users %}
    <table>
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </thead>
      {% for user in users %}
      <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No User RECORDS</p>
    {% endif %}
  </div>
</body>
</html>